header {
  width: 1170px;
  display: flex;
  align-items: center;
}

.header__div-nav {
  width: 933px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > p {
  width: 173px;
}

.footer-firsth-group {
  margin-top: -10px;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-span {
  color: black;
}

.first-menu {
  display: flex;
  justify-content: space-between;
  width: 281px;
  height: 16px;
  margin-left: 93px;
  box-sizing: border-box;
}

.container .first-menu li:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48px;
}

.first-menu li:nth-child(1) > svg {
  margin-top: 19px;
}

.first-menu1 {
  color: #2196f3;
}

.first-menu-a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2%;
  color: #212121;
}

.first-menu-a:hover {
  animation: color-of-a 0.5s;
  animation-fill-mode: forwards;
}

@keyframes color-of-a {
  0% {
    color: black;
  }
  100% {
    color: #2196f3;
  }
}
.seckond-menu {
  display: flex;
  justify-content: space-between;
  width: 333px;
  height: 16px;
  padding: 0;
  margin-left: 318px;
}

.seckond-menu > li {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  width: 161px;
  display: flex;
  align-items: center;
  padding: 0;
}

.seckond-menu > li > svg {
  margin-right: 10px;
}

.seckond-menu > li:hover {
  color: #2196f3;
}

#email,
#telephone:hover {
  color: #2196f3;
}

#email-path:hover {
  color: #2196f3;
}

.header-portfolio-container {
  border-bottom: #ececec solid 1px;
}

.header-portfolio-container header {
  margin: 0 auto;
}

.header-portfolio-container .first-menu li:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48px;
}

.header-portfolio-container .first-menu li:nth-child(2) svg {
  margin-top: 19px;
}

.header-portfolio-container .first-menu-blue {
  color: #2196f3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media (min-width: 481px) and (max-width: 1599px) {
  header {
    width: 768px;
  }
  header > p {
    width: auto;
  }
  .header__div-nav {
    width: 517px;
    height: 80px;
    margin-left: 87px;
  }
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    width: auto;
    margin: 0;
  }
  .first-menu {
    width: 283px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 16px;
    font-size: 14px;
  }
  .seckond-menu {
    width: 138px;
    margin: 0 0 0 96px;
    flex-direction: column;
    height: 38px;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .seckond-menu > img {
    width: 14px;
    height: 10px;
  }
  .seckond-menu li {
    height: 14px;
    font-size: 12px;
  }
  .first-menu li:nth-child(1) > svg {
    position: relative;
    top: 28px;
    margin-top: 0;
    padding: 0;
  }
}
@media (max-width: 480px) {
  header {
    width: 480px;
    height: 60px;
  }
  header p {
    width: auto;
    height: auto;
  }
  .logo {
    width: auto;
    height: auto;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
  .first-menu {
    display: none;
  }
  .seckond-menu {
    display: none;
  }
  .header__svg-burger_menu {
    margin-left: 284px;
  }
  .burger {
    cursor: pointer;
    z-index: 1001;
  }
  .menu {
    display: none;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .menu.active {
    display: block;
  }
}
.first-section {
  background-image: url(/img/first-background.png);
  background-repeat: no-repeat;
  height: 600px;
  margin-bottom: 94px;
  width: 1600px;
  margin: 0 auto;
}

.first-section-container {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 600px;
}

/*   modal   */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: white;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__btn-close {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.btn-close-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.062745098);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal__h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
}

.form__ul-form {
  width: 448px;
  margin: 0;
}

.ul-form-item p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.item__box-for-input input {
  margin-top: 20px;
  width: 423px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.ul-form-item textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.ul-form-item textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
  color: #2196f3;
}
.ul-form-item textarea:active {
  border: 1px solid #2196f3;
  color: #2196f3;
}
.ul-form-item textarea:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.ul-form-item input {
  width: 448px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 0;
}
.ul-form-item input:focus {
  border: 1px solid #2196f3;
  outline: none;
  color: #2196f3;
}
.ul-form-item input:active {
  border: 1px solid #2196f3;
  color: #2196f3;
}
.ul-form-item input:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.item__box-for-input {
  display: flex;
  align-items: center;
  width: 448px;
  height: 40px;
  padding: 0;
  margin: 0;
}
.item__box-for-input:hover {
  color: #2196f3;
}

.item__box-for-input svg {
  position: absolute;
  left: 52px;
}

.section1__input-box {
  width: 423px;
  height: 24px;
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}

.section1__input {
  width: 16px;
  height: 15px;
}

.modal__label {
  width: 423px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 7px;
}

.label__span-font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.modal__btn-send {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0823529412);
  background-color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 30px;
}

.first-section-container > h2 {
  width: 696px;
  height: 120px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 200px;
}

.first-section-container > button {
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 6%;
}

@media (min-width: 481px) and (max-width: 1599px) {
  .first-section {
    width: 768px;
    height: 400px;
    background-image: url(/img/bc-firsts_section.png);
    display: flex;
    align-items: center;
  }
  .first-section-container {
    width: 768px;
    height: 400px;
    justify-content: center;
  }
  .first-section-container > h2 {
    margin-top: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    width: 360px;
    height: auto;
  }
  .first-section-container > button {
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 6%;
  }
  .modal {
    width: 450px;
    height: 609px;
  }
  .form__ul-form {
    width: 370px;
    height: 342px;
  }
  .ul-form-item {
    width: 370px;
    height: 58px;
    margin-bottom: 10px;
  }
  .ul-form-item textarea {
    width: 370px;
    color: rgba(117, 117, 117, 0.3137254902);
  }
  .ul-form-item p {
    margin: 0 0 4px 0;
  }
  .item__box-for-input {
    width: 370px;
  }
  .modal__label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 8px;
    width: 346px;
    height: 14px;
  }
}
.section1__input-box {
  width: 370px;
  height: 15px;
}

.label__span-font {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.modal__btn-send {
  width: 200px;
  height: 50px;
  border-radius: 4px;
}

@media (max-width: 480px) {
  .first-section {
    height: 400px;
    width: 480px;
    background: url(/img/first-bc-mobile.png);
    background-repeat: no-repeat;
  }
  .first-section-container {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first-section-container > h2 {
    margin-top: 0;
    width: 360px;
    height: auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .first-section-container > button {
    font-size: 16px;
  }
  .modal {
    width: 450px;
    height: 609px;
    padding: 40px;
  }
  .form__ul-form {
    width: 370px;
    height: 342px;
  }
  .ul-form-item {
    margin-bottom: 10px;
    width: 370px;
    height: 58px;
  }
  .ul-form-item > textarea {
    width: 370px;
    height: 120px;
  }
  .ul-form-item > p {
    margin: 0 0 4px 0;
  }
  .ul-form-item:last-child {
    height: 138px;
    margin: 0;
  }
  .item__box-for-input {
    width: 370px;
    height: 40px;
  }
  .item__box-for-input > input {
    width: 370px;
    height: 40px;
  }
  .section1__input-box {
    width: 370px;
    height: 15px;
    margin-top: 20px;
  }
  .modal__label {
    font-size: 12px;
  }
}
.seckond-section {
  margin-bottom: 94px;
  margin: 0;
  width: 1170px;
}

.seckond-section-menu {
  width: 1170px;
  height: 248px;
  display: flex;
  justify-content: space-between;
}

.seckond-section-menu > li {
  width: 270px;
  height: 248px;
}

.seckond-section-menu > li > h3 {
  font-size: 14px;
  letter-spacing: 3%;
  font-weight: bold;
  color: #212121;
  margin-top: 30px;
}

.seckond-section-menu > li > p {
  color: #757575;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.svg-box {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 481px) and (max-width: 1599px) {
  .seckond-section {
    width: 768px;
  }
  .seckond-section-menu {
    width: 738px;
    height: 600px;
    flex-wrap: wrap;
  }
  .seckond-section-menu li {
    width: 354px;
    height: 224px;
  }
  .svg-box {
    width: 354px;
  }
}
@media (max-width: 480px) {
  .seckond-section {
    width: 450px;
    height: 994px;
  }
  .seckond-section-menu {
    height: 994px;
    width: 450px;
    flex-wrap: wrap;
  }
  .seckond-section-menu > li {
    width: 450px;
    height: 226px;
    gap: 15px;
    margin: 0;
  }
  .svg-box {
    width: 450px;
    height: 120px;
  }
  li > h3 {
    margin: 0 auto;
    width: 270px;
    text-align: center;
  }
}
.thirdth-section {
  margin-bottom: 94px;
  height: 386px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thirdth-section > h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 3%;
  color: #212121;
}

.thirdth-section > ul {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.text-box {
  width: 370px;
  height: 70px;
  position: relative;
  top: -74px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 0;
  margin: 0;
}

.text-box > p {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3%;
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 481px) and (max-width: 1599px) {
  .thirdth-section {
    display: none;
  }
}
@media (max-width: 480px) {
  .thirdth-section {
    display: none;
  }
}
.fourth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 94px;
  height: 708px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.fourth-section > h2 {
  font-size: 36px;
  letter-spacing: 3%;
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
}

.fourth-section-menu {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 368px;
  box-sizing: border-box;
}

.fourth-section-menu > li {
  width: 270px;
  height: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.fourth-section-menu > li > h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.fourth-section-menu > li > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.instagram-svg {
  width: 20px;
  height: 20px;
}

.svg-hover {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.svg-hover:hover {
  background-color: #2196f3;
  border-radius: 50%;
  color: white;
}

.fourth-section > .svg-box-fourth-section > svg:hover {
  color: white;
}

.svg-box-fourth-section {
  display: flex;
  width: 206px;
  height: 44px;
  align-items: center;
  margin-top: 16px;
}

.svg-hover {
  margin-right: 10px;
}

.svg-hover:nth-child(4) {
  margin-right: 0;
}

@media (min-width: 481px) and (max-width: 1599px) {
  .fourth-section {
    width: 768px;
    height: 1285px;
    padding: 60px 0;
    margin-bottom: 0;
  }
  .fourth-section h2 {
    margin-bottom: 30px;
    margin-top: 0;
  }
  .fourth-section-menu {
    width: 738px;
    height: 1102px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
  }
  .fourth-section-menu li {
    width: 354px;
    height: 536px;
    background-color: white;
    box-sizing: border-box;
  }
  .fourth-section-menu li img {
    width: 354px;
    height: 374px;
  }
}
@media (max-width: 480px) {
  .fourth-section {
    width: 480px;
    height: 2761px;
    padding: 0;
  }
  .fourth-section > h2 {
    margin-bottom: 0;
    margin-top: 60px;
  }
  .fourth-section-menu {
    width: 450px;
    height: 2578px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0 0 0;
    position: relative;
    z-index: 50;
  }
  .fourth-section-menu > li {
    background-color: white;
    margin-bottom: 30px;
    width: 450px;
    height: 622px;
  }
  .fourth-section-menu > li > img {
    width: 450px;
    height: 460px;
  }
  .fourth-section-menu > li:last-child {
    margin-bottom: 0;
  }
}
.fifth-section {
  margin-top: 94px;
  height: 184px;
}

.fifth-section > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.fifth-section-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  width: 1170px;
}

.fifth-section-menu > li {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #afb1b8;
}

.fifth-section-menu > li:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
}

@media (min-width: 481px) and (max-width: 1599px) {
  .fifth-section {
    height: 397px;
    width: 768px;
    margin-top: 60px;
  }
  .fifth-section h2 {
    margin-top: 0;
  }
  .fifth-section-menu {
    flex-wrap: wrap;
    height: 214px;
    width: 738px;
    margin: 0;
  }
  .fifth-section-menu li {
    width: 226px;
    height: 92px;
  }
}
@media (max-width: 480px) {
  .fifth-section {
    width: 480px;
    height: 519px;
  }
  .fifth-section-menu {
    width: 450px;
    height: 336px;
    flex-wrap: wrap;
  }
  .fifth-section-menu > li {
    width: 210px;
    height: 92px;
  }
}
footer {
  background-color: #2f303a;
  margin-bottom: 0;
  height: 252px;
  display: flex;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  width: 1170px;
  margin: 0 auto;
}

.logo-span-black {
  color: white;
}

.footer-menu-info > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.dark-text-footer {
  opacity: 60%;
}

.next-group {
  margin-left: 70px;
}

.next-group > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.svg-group-footer {
  width: 206px;
  height: 44px;
  display: flex;
  align-items: center;
}

.svg-group-footer > li {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.svg-group-footer > li:hover {
  background-color: #2196f3;
}

.svg-group-footer > li:nth-child(4) {
  margin: 0;
}

.third-group {
  text-transform: uppercase;
  margin-left: 93px;
  width: 570px;
  height: 86px;
}

.third-group > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.third-group-form {
  display: flex;
  width: 570px;
  height: 50px;
  justify-content: space-between;
}

.footer-input {
  color: rgba(255, 255, 255, 0.6);
  border: rgba(225, 225, 225, 0.6) solid 1px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border-radius: 4px;
  margin-right: 0;
}

.footer-input:focus {
  outline: none;
  box-shadow: none;
}

.footer-button {
  background-color: #2196f3;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
}

.footer-button > svg {
  margin-left: 10px;
}

@media (min-width: 481px) and (max-width: 1599px) {
  footer {
    position: relative;
    display: block;
    width: 768px;
    height: 463px;
  }
  .footer-container {
    width: 768px;
    height: 463px;
    display: block;
    padding: 60px;
  }
  .footer-firsth-group {
    width: 232px;
    height: 127px;
    margin-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    text-align: center;
  }
  .footer-firsth-group p {
    margin: 0 0 20px 0;
  }
  .footer-menu-info {
    margin: 0;
  }
  .footer-menu-info li p {
    margin: 0;
  }
  .dark-text-footer {
    margin: 8px 0 0 0;
  }
  .dark-text-footer p {
    margin: 0;
  }
  .next-group {
    margin: 5px 0 0 0;
    position: absolute;
    top: 65px;
    right: 89px;
    width: 206px;
    text-align: center;
    height: 80px;
  }
  .next-group h3 {
    padding: 0;
    margin: 0;
  }
  .svg-group-footer {
    margin: 20px 0 0 0;
  }
  .third-group {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    top: 247px;
    width: 450px;
    height: 156px;
    margin: 0 0 0 112px;
  }
  .third-group h3 {
    margin: 0;
  }
  .third-group-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    height: 120px;
    width: 450px;
  }
  .footer-input {
    width: 450px;
  }
  .footer-button {
    margin: 0;
  }
}
@media (max-width: 480px) {
  footer {
    width: 480px;
    height: 603px;
    flex-direction: column;
  }
  .footer-container {
    width: 480px;
    height: 603px;
    flex-direction: column;
    align-items: center;
  }
  .footer-firsth-group {
    width: 232px;
    height: 127px;
    margin-left: 16px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 0;
    text-align: center;
  }
  .footer-firsth-group p {
    color: white;
    margin: 0 0 20px 0;
  }
  .footer-menu-info li p {
    margin-bottom: 8px;
  }
  .next-group {
    margin: 5px 0 60px 0;
    width: 206px;
    text-align: center;
    height: 80px;
  }
  .next-group h3 {
    padding: 0;
    margin: 0;
  }
  .svg-group-footer {
    margin: 20px 0 0 0;
  }
  .third-group {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    width: 450px;
    height: 156px;
    margin: 0 auto;
  }
  .third-group h3 {
    margin: 0;
  }
  .third-group-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    height: 120px;
    width: 450px;
  }
  .footer-input {
    width: 450px;
    height: 50px;
    border: 1px rgba(255, 255, 255, 0.1882352941) solid;
  }
  .footer-button {
    margin: 0;
  }
}
.portfolio-container .main-menu {
  width: 575px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 50px;
}

.portfolio-container .main-menu li button {
  background-color: #f5f4fa;
  color: #212121;
  border: none;
  height: 38px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.portfolio-container .main-menu li button:hover {
  animation: shadow-button ease-out 0.3s;
  animation-fill-mode: forwards;
}

@keyframes shadow-button {
  0% {
    box-shadow: none;
    background-color: transparent;
    color: black;
  }
  50% {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.0196078431);
  }
  100% {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.062745098);
    background-color: #2196f3;
    color: white;
  }
}
.main-menu-button1 {
  width: 73px;
}

.main-menu-button2 {
  width: 125px;
}

.main-menu-button3 {
  width: 112px;
}

.main-menu-button4 {
  width: 103px;
}

.main-menu-button5 {
  width: 130px;
}

.portfolio-container .menu {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 1170px;
  height: 1360px;
}

.portfolio-container .menu li {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.portfolio-container .menu li:hover {
  animation: shadow 0.3s;
  animation-fill-mode: forwards;
}

@keyframes shadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.0705882353);
  }
  100% {
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.1450980392);
  }
}
.portfolio-container .menu li h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-left: 24px;
  margin-bottom: 0;
}

.portfolio-container .menu li p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 24px;
  margin-top: 4px;
}

.for-owerflou {
  overflow: hidden;
  width: 372px;
  height: 294px;
}

.name-off-card {
  z-index: 1;
  position: relative;
}

.transparent-element {
  width: 372px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.5647058824);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  position: absolute;
  bottom: 111px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0%;
  color: white;
  z-index: 0;
}

#transparent-element-p {
  color: white;
  opacity: 100%;
  width: 322px;
  height: 168px;
  margin: 0;
  padding: 0;
}

.transparent-element:hover {
  animation: appearance 1s;
  animation-fill-mode: forwards;
  cursor: default;
}

@keyframes appearance {
  0% {
    opacity: 0%;
    top: 100px;
  }
  100% {
    opacity: 100%;
    top: 0;
  }
}
li {
  list-style-type: none;
  padding: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  padding-inline-start: 0;
  margin-inline-start: 0;
}

button {
  padding: 0;
  font: inherit;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto;
}

.container,
.portfolio-container {
  margin: 0 auto;
  padding: 0 0;
  width: 1170px;
}

.header__svg-burger_menu {
  display: none;
}

@media (min-width: 481px) and (max-width: 1599px) {
  .container {
    width: 768px;
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 480px;
    padding: 0 15px;
  }
  .header__svg-burger_menu {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */