/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  --google-font-color-sixtyfourconvergence: none;
}
/* ----------------------------------------------------------------------------------------------- */
body {
  font-family: Roboto;
  letter-spacing: 3%;
}
.container {
  width: 1170px;
  margin: 0 auto;
  background-color: white;
  padding: 0 15px;
}
header {
height: 80px;
}
.nav {
  display: flex;

}
.name-of-progect {
  font-size: 26px;
  font-weight: bold;
  font-family: Raleway;
  color: #000;
  margin-right: 93px;
  margin-top: 24px;
}
.blue {
  color: #2196F3;
}

.fst-world {
  color: #2196F3;
}
.first-menu-header {
  display: flex;
  justify-content: space-between;
  width: 281px;
  height: 16px;
  margin-right: 344px;
  margin-top: 32px;
}
.seckond-manu-header {
  margin-top: 32px;
  display: flex;
}
.seckond-manu-header-main-b {
  margin-right: 50px;
  color: #2196F3;
}
.fingers {
  display: flex;
  justify-content: space-around;
  margin-top: -10px;
}
.firs-name {
  background-color: #2F303A;
  height: 600px;
}
.first-name-items {
  height: 600px;
}
.solution {
  padding: 200px 237px 30px;
}
.first-name-h2 {
font-size: 44px;
color: #FFFFFF;
font-weight: 900;
width: 696px;
height: 120px;
line-height: 60px;
text-align: center;
}
.first-button {
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #2196F3;
  border-radius: 4px;
  margin: 0 477px 200px;
  padding: 0;
}
.seckond-article {

}
.peculiarities {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-top: 94px;
}
.peculiarities h3 {
  font-weight: bold;
  font-size: 14px;
  color: #212121;
}
.peculiarities .text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  color: #757575;
}
.text-section {
  margin: 94px 0;
}
.group-one-box {
  display: flex;
  justify-content: space-between;

  width: 1170px;
}
.group-one {
  width: 370px;
}
.our-teem {
  width: 1170px;
  background-color: #757575;
}
.fn {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.name {
  font-weight: 500;
  margin-bottom: 10px;
}
.group-two {
  width: 270px;
}
.group-picture-two-box {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.group-picture-two-box-items {
  background-color: #FFFFFF;
}
footer {
  background-color: #2F303A;
  width: 1170px;
}
footer .name-of-progect {
  margin-bottom: 20px;
  padding-top: 60px;
  margin: 0;
}
.info-box {
  font-size: 14px;
  font-weight: 400;
}
.info-box li {
  height: 21px;
}
.info-item {
  margin-bottom: 9px ;
}
.info-color-a {
  color: #00000099;
  margin-bottom: 9px;
}
.info-color {
  color: #00000099;
}
footer ul {
padding-bottom: 60px;
}