/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  --google-font-color-sixtyfourconvergence: none;
}
a {
  text-decoration: none;
  color:  black;
}
/* ----------------------------------------------------------------------------------------------- */
body {
  font-family: Roboto;
  letter-spacing: 3%;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  height: 80px;
}
.nav {
  display: flex;
}
.name-of-progect {
  font-size: 26px;
  font-weight: bold;
  font-family: Raleway;
  color: #000;
  margin-right: 93px;
  margin-top: 24px;
}
.blue {
  color: #2196f3;
}
.ffi1 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.fst-world {
  color: #2196f3;
}
.first-menu-header {
  display: flex;
  justify-content: space-between;
  width: 281px;
  height: 16px;
  margin-right: 344px;
  margin-top: 32px;
}
.seckond-manu-header {
  margin-top: 32px;
  display: flex;
  width: 307px;
  justify-content: space-between;
}
.seckond-manu-header-main-b {
  color: #2196f3;
  width: 135px;
  height: 16px;
  font-size: 14px;
}
.seckond-manu-header-main {
  width: 122px;
  height: 16px;
  font-size: 14px;
}
.fingers {
  display: flex;
  justify-content: space-around;
  margin-top: -10px;
}
.firs-name {
  background-color: #2f303a;
  height: 600px;
}
.first-name-items {
  height: 600px;
}
.solution {
  padding: 200px 237px 30px;
}
.ffi2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: auto 0;
  height: 600px;
}

.first-name-h2 {
  font-size: 44px;
  color: #ffffff;
  font-weight: 900;
  width: 696px;
  height: 120px;
  line-height: 60px;
  text-align: center;
}
.first-button {
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 0;
  margin-top: 30px;
}
.seckond-article {
}
.peculiarities {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-top: 94px;
}
.peculiarities h3 {
  font-weight: bold;
  font-size: 14px;
  color: #212121;
}
.peculiarities .text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  color: #757575;
}
.text-section {
  margin: 94px auto;
}
.group-one-box {
  display: flex;
  justify-content: space-between;

  width: 1170px;
}
.group-one {
  width: 370px;
}
.section2 {
  background-color: #f5f4fa;
margin: 0 auto;
padding: 0 15px;
}
.our-teem {
}
.our-teem-items {
width: 1170px;
}
.fn {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.name {
  font-weight: 500;
  margin-bottom: 10px;
}
.group-two {
  width: 270px;
}
.our-teem-items-items {
  display: flex;
  justify-content: center;
}
.group-picture-two-box {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.group-picture-two-box-items {
}
footer {
  background-color: #2f303a;
}
.container-footer {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
footer .name-of-progect {
  margin-bottom: 20px;
  padding-top: 60px;
  margin: 0;
}
.info-box {
  font-size: 14px;
  font-weight: 400;
}
.info-box li {
  height: 21px;
}
.info-item {
  margin-bottom: 9px;
}
.info-color-a {
  color: #00000099;
  margin-bottom: 9px;
}
.info-color {
  color: #00000099;
}
footer ul {
  padding-bottom: 60px;
}
